<h1>{{title}}</h1>
<p>A collection of tiny bits and pieces...</p>

<div class="main">

    {{#repos}}
        {{#if visible}}
            <div class="box">
                {{name}}
                <div>
                    {{description}}
                </div>
                {{#if localNotes}}
                    <div>
                        {{localNotes}}
                    </div>
                {{/if}}
                <div class="links">
                    <div>
                        {{#if npm}}
                            Get it on <a target="_blank" href="https://www.npmjs.com/package/{{name}}">npm</a>!
                        {{/if}}
                    </div>
                    <div>
                        See the code on <a target="_blank" href="{{html_url}}">GitHub</a>.
                    </div>
                </div>

            </div>
        {{/if}}
    {{/repos}}

</div>
