<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<header>
    <div class="title">{{title}}  <span>{{tagline}}</span></div>
    <nav>
        <div>{{#if user.name}}
            {{user.name}}

            <a href="/repos/admin">Settings</a>
            <a href="/repos">Main</a>

            <a href="/logout">Logout</a>
        {{else}}Admin?
            <a href="/login">GitHub Login</a>
        {{/if}}</div>
    </nav>
</header>
{{{body}}}
</body>
</html>
